## Loading Libraries

In [58]:
import pyreadr
import pandas as pd

## Reading in Data

In [60]:
# Reading in Data
dataset = pyreadr.read_r("../data/brain.rda")

In [62]:
arraymeta_data = dataset['arraymeta']
arraymeta_data

,patient,region.ancg,region.cb,region.dlpfc,lab.davis,lab.irvine,lab.michigan,age,sex,arrayversion
0,1834,1.0,0.0,0.0,0.0,1.0,0.0,40,M,1.0
1,1834,0.0,1.0,0.0,0.0,1.0,0.0,40,M,1.0
2,1834,0.0,1.0,0.0,0.0,0.0,1.0,40,M,1.0
3,1834,0.0,0.0,1.0,1.0,0.0,0.0,40,M,1.0
4,1834,0.0,0.0,1.0,1.0,0.0,0.0,40,M,2.0
...,...,...,...,...,...,...,...,...,...,...
381,4236,1.0,0.0,0.0,0.0,0.0,1.0,63,M,2.0
382,4236,0.0,0.0,1.0,0.0,0.0,1.0,63,M,2.0
383,4250,1.0,0.0,0.0,0.0,1.0,0.0,64,M,2.0
384,4250,1.0,0.0,0.0,0.0,0.0,1.0,64,M,2.0
385,4250,0.0,0.0,1.0,0.0,0.0,1.0,64,M,2.0

In [64]:
expression_data = dataset['expression']
expression_data

,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,1431_at,...,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
0,8.597381,6.643790,6.742402,7.738635,6.477350,7.388334,6.734768,6.501485,6.312102,6.274967,...,9.472115,9.263460,11.529741,11.308839,6.427495,6.212201,6.076345,5.942940,6.050228,6.059569
1,7.507421,6.185789,6.377131,7.152656,6.002777,6.515969,6.430514,6.105450,5.947936,5.947524,...,8.665336,8.851499,10.900256,10.830566,6.077286,5.853261,5.732241,5.797226,5.788631,5.895052
2,9.151820,7.508944,7.924755,9.778946,6.991540,8.059766,8.198715,7.433385,7.047425,7.169980,...,10.752882,10.684959,12.805644,12.553357,7.242163,7.107621,6.923200,6.563461,7.024079,6.988473
3,9.480747,7.229395,7.330518,8.724294,6.897049,7.979412,7.213397,6.946586,6.530472,6.680387,...,10.663113,10.624339,12.602046,12.341308,6.871340,6.487593,6.330889,6.280178,6.379439,6.352816
4,10.855653,8.573288,8.519262,10.045489,8.053849,9.042049,8.379321,8.116254,7.623230,7.997303,...,12.470662,12.141829,13.912422,13.951137,8.206344,7.527397,7.288326,7.253048,7.331282,7.378420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,9.788715,7.990065,8.268939,9.392253,7.588384,8.461776,8.447588,7.858540,7.501698,7.341803,...,11.294439,11.084897,12.965648,12.695011,7.613313,7.400333,7.204682,7.031017,7.217905,7.296093
382,10.110330,8.193528,8.114450,9.403774,7.626703,8.505860,8.342483,7.791306,7.584267,7.535682,...,12.279642,11.974415,13.636568,13.370042,7.619108,7.408349,7.225574,7.062833,7.282214,7.320709
383,10.462571,8.496206,8.226372,9.683997,7.647338,8.811804,9.005109,8.074287,7.504952,7.727255,...,13.065861,13.082426,14.232736,14.156478,7.670240,7.343954,7.177481,7.067948,7.178223,7.354904
384,9.900810,8.147884,8.341852,9.359909,7.824822,8.437894,8.424120,7.839172,7.531454,7.402192,...,10.981730,10.977953,12.810572,12.593202,7.670840,7.558949,7.316052,7.138055,7.422764,7.448250
385,9.867853,7.832730,7.711266,9.148748,7.428053,8.312658,8.094271,7.530338,7.261840,7.374482,...,12.209283,11.757807,13.526744,13.291683,7.369926,7.187340,6.974730,6.854961,7.017822,6.982069

In [66]:
genemeta_data = dataset['genemeta']
genemeta_data

,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,1431_at,...,AFFX-r2-Bs-thr-M_s_at,AFFX-r2-Ec-bioB-3_at,AFFX-r2-Hs18SrRNA-3_s_at,AFFX-r2-Hs18SrRNA-5_at,AFFX-r2-Hs18SrRNA-M_x_at,AFFX-r2-Hs28SrRNA-3_at,AFFX-r2-Hs28SrRNA-5_at,AFFX-r2-Hs28SrRNA-M_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at
chrom,6,7,1,2,6,3,17,14,17,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sym,DDR1,RFC2,HSPA6,PAX8,GUCA1A,UBA7,THRA,PTPN21,CCL5,CYP2E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Initial EDA

### Counts from each brain region

In [68]:
# Determining the number of brain regions in each sample (apparently always 1)
arraymeta_data[['region.ancg', 'region.cb', 'region.dlpfc']].sum(axis=1).unique()

array([1.])

In [70]:
# Total number of samples from each brain region
arraymeta_data[['region.ancg', 'region.cb', 'region.dlpfc']].sum(axis = 0)

region.ancg     127.0
region.cb        81.0
region.dlpfc    178.0
dtype: float64

In [75]:
### Cross tab by brain region and lab
# Create factors for brain region and lab
arraymeta_data['region'] = arraymeta_data[['region.ancg', 'region.cb', 'region.dlpfc']].idxmax(axis=1).str.replace('region.', '')
arraymeta_data['lab'] = arraymeta_data[['lab.davis', 'lab.irvine', 'lab.michigan']].idxmax(axis=1).str.replace('lab.', '')

# Cross tab
cross_tab_region_lab = pd.crosstab(arraymeta_data['region'], arraymeta_data['lab'])

# Print results
print(cross_tab_region_lab)

lab     davis  irvine  michigan
region
ancg        0      66        61
cb         21      42        18
dlpfc      85       9        84

### Counts by age

In [86]:
### Cross tab by brain region and age
# Cross tab
cross_tab_br_age = pd.crosstab(arraymeta_data['age'], arraymeta_data['region'])

# Print results
# print(cross_tab_br_age)

In [83]:
### Cross tab by brain region and age ranges of interest
# Split pandas dataframe by age group
def categorize_age(age):
    if age < 70:
        return '<70'
    else:
        return '>=70'

arraymeta_data['age_group'] = arraymeta_data['age'].apply(categorize_age)

# Cross tab
cross_tab_region_agegrp = pd.crosstab(arraymeta_data['region'], arraymeta_data['age_group'])

# Print results
print(cross_tab_region_agegrp)

age_group  <70  >=70
region
ancg       104    23
cb          70    11
dlpfc      146    32

Important to note that we have much more data for the over 70 group than for the less than 70 group. Moving on to analysis of expression rates.